<footer>
    <p>Follow me &nbsp;&nbsp; <i class="fa-brands fa-discord"></i> &nbsp;&nbsp; <i class="fa-brands fa-instagram"></i> &nbsp;&nbsp; <i class="fa-brands fa-facebook"></i></p>
    <p>Made By Ankit Kumar Mitra</p>
    <p>Copyright &copy; <%= new Date().getFullYear() %></p>
</footer>