@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;900&display=swap');

/* --- Header Section Starts --- */
* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

body {
    background-color: rgb(30, 30, 30);
    color: white;
}

.border {
    border: 1px solid rgb(50, 50, 50);
}

hr {
    border: 1px solid rgb(50, 50, 50);
    margin-bottom: 10px;
}

.thin-text {
    font-weight: 300;
}

.medium-text {
    font-weight: 400;
}

.bold-text {
    font-weight: 500;
}

.super-bold-text {
    font-weight: 900;
}

.small-light-text {
    color: #999;
    font-size: 0.9rem;
}

.navbar {
    background-color: rgb(76, 76, 177);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    height: 64px;
}

.navbar .logo a {
    text-decoration: none;
    color: white;
}

.fa-house {
    font-size: 1.5rem;
}

.navigate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 35%;
}

.navigate a {
    color: white;
    text-decoration: none;
}

.login-btn {
    padding: 5px 20px;
    background-color: rgb(57, 57, 128);
    border: 1px solid black;
}

.profile-btn {
    background-color: rgb(57, 57, 128);
    color: white;
    min-width: 160px;
    padding: 5px 20px;
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
}

.profile-btn:hover,
.profile-btn:focus {
    background-color: #2980B9;
}

.profile-option {
    position: relative;
    display: inline-block;
}

.profile-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profile-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-option a:hover {
    background-color: #ddd;
}

.show {display: block;}


.home-btn {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.search-box {
    position: relative;
    width: 400px;
    border-radius: 5px;
    background-color: white;
}

.search-field {
    display: flex;
    align-items: center;
    gap: 0;
    padding: 0 5px;
}

.search-field input {
    flex: 1;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
}

.search-field button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #555;
    cursor: pointer;
}

.result-box {
    background-color: transparent;
    position: absolute;
    top: 100%;
    width: 400px;
    max-height: 700px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.result-box::-webkit-scrollbar {
    display: none;
}

.result-box ul {
    border-top: 1px solid #999;
}

.result-box ul li {
    min-height: 75px;
    background-color: #2e2e2e;
    color: black;
    list-style: none;
    padding: 3px 3px;
    cursor: pointer;
}

.result-box ul li:hover {
    background-color: #e9f3ff;
}

.result-box ul li a {
    text-decoration: none;
    display: flex;
    gap: 10px;
}

.result-box ul li a p {
    font-size: 0.7rem;
    line-height: 12px;
    color: #999;
}

.result-box ul li a p:nth-child(1) {
    color: rgb(134, 134, 255);
    line-height: 18px;
    font-size: 1rem;
    margin-bottom: 5px;
}

.result-box ul li img {
    min-width: 61px;
    max-width: 61px;
}

/* --- Header Section ends

        Top Anime Section Starts --- */

.container {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    gap: 10px;
    padding: 10px;
}

.top-anime {
    height: 100%;
    border: 1px solid rgb(50, 50, 50);
}

.top-anime h1 {
    color: white;
    padding: 5px 10px;
    background-color: #3f3f3f;
    border-bottom: 1px solid black;
}

.top-anime a {
    padding: 10px 5px;
    text-decoration: none;
    color: #999;
}

.anime-top {
    background-color: #2e2e2e;
    display: grid;
    grid-template-columns: 10px 40px 1fr;
    gap: 10px;
}

.anime-top:hover {
    opacity: 0.8;
}

.anime-top img {
    width: 40px;
}

.top-anime-title {
    color: rgb(134, 134, 255);
}

/* --- Top Anime Section Ends here
        Center Section Starts here --- */

.center-content {
    height: fit-content;
}

.current-anime {
    margin-bottom: 40px;
}

.anime-container h1 {
    background-color: #3f3f3f;
    padding: 5px 10px;
}

.anime-card {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 10px;
}

.anime-card a {
    padding: 5px;
    color: white;
    text-decoration: none;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.fill img {
    object-fit: cover;
    width: 225px;
    height: 319px;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.card:hover {
    opacity: 0.6;
}

/* --- Center Content End here
        Random Anime Content Start here --- */


.random-anime {
    height: 100%;
}

.suggestion-div {
    background-color: #2e2e2e;
    padding: 10px 5px;
}

.suggestion-div:hover {
    opacity: 0.6;
}

.random-anime h1 {
    color: white;
    padding: 5px 10px;
    background-color: #3f3f3f;
    border-bottom: 1px solid black;
}

.img-name {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    gap: 15px;
    text-decoration: none;
    color: white;
}

.SuggestionName {
    font-size: 1.5rem;
    color: rgb(134, 134, 255);
}

.suggestion-name p:nth-child(1) {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    color: #999;
}

.fa-brands {
    cursor: pointer;
}

footer p:nth-child(1) {
    font-size: 1.2rem;
}